<h1>Luong</h1>
<form asp-action="Luongnv" method="Post">
   <label>Lương cơ bản :</label>
    <input type="text" name="LuongCb">
    <br>
    <label>Hệ số :</label>
    <input type="text" name="HeSo">
    <br>
    <label>Phụ cấp :</label>
    <input type="text" name="PhuCap">
    <br>
    <input type="submit" value="Tính">
</form>
@ViewBag.luongnv