<h1> View index cua personconsolerr </h1>
<form asp-action="Index">
    <label>nhap ho ten</label>
    <input type="text" name="fName">
    <input type="submit" value="gui du lieu" >

</form>
<H1>@ViewBag.thongBao</H1>